
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Thêm mới loại dược phẩm</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin/Admin/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="~/Admin/Category/Index">Quản lý loại dược phẩm</a></li>
                    <li class="breadcrumb-item active">Quản lý loại dược phẩm</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<form action="Add" method="post" role="form" enctype="multipart/form-data">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tên loại dược phẩm</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tên sản phẩm">
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->


            </div>

            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Thêm" />
    </div>


</form>

