
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}




<form action="Add" method="post" role="form" enctype="multipart/form-data">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Tên loại dược phẩm</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tên sản phẩm">
                    </div>
                    <!-- /.form-group -->
                    
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->


            </div>
            
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Thêm" />
    </div>


</form>

