
@{
    ViewBag.Title = "GioHangRong";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}

<h2 style="margin-left:100px"></h2>
<div class="container text-center" style="margin-bottom:500px;margin-top:200px">
    <h2>Đặt hàng thành công</h2>
    <a class="btn btn-warning" href="~/Shop/Index">Tiếp tục mua sắm</a>
</div>


